@import './fonts';
@import './colors';

.main {
    background-color: $dark;
    height: auto;
    min-height: 100vh;
}

.assessmentContainer {
    height: auto;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.tests {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 12px;

    @media (max-width: 350px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.tests::after {
    content: "";
    width: 20px;
}

.testsContainer {
    margin: 0 6vw;
}

.testsContainer p {
    font-family: $karla;
    font-size: 1.5rem;
    color: $white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: 700;

    @media (max-width: 420px) {
        font-size: 1.3rem;
    }
}

.testcard {
    background-color: $white;
    border: 1px solid $white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
}

.testcard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    color: $orange;
    font-size: 1.3rem;
    font-weight: 900;
    margin: 10px 0;
    text-align: center;
}

.description {
    color: $black;
    opacity: 0.7;
    font-family: $karla;
    margin: 10px 0;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: start;
}

.testcard Link {
    text-decoration: none;
    color: inherit;
}