.authContainer {
  margin: auto;
  font-family: poppins;
  font-size: 1rem;
  font-weight: 400;
  color: #1E2260;
  height: auto;
  padding-top: 5vh;
}

.main {
  background-color: rgb(21, 66, 246);
  height: auto;
  min-height: 100vh;
}