@import './fonts';
@import './colors';
@import './typography';

.main {
  background-color: $dark;
  min-height: 100vh;
  height: auto;
}

.blogContainer {
  height: auto;
  padding-top: 15vh;
}

.blogsContainer {
  margin: 0 6vw;
}

.blogcard {
  min-height: 40vh;
}

.redirectIcon {
  color: $black;
  font-size: 24px;
  margin-left: 5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.redirectIcon:hover {
  color: $dark;
}