@import './fonts';
@import './colors';

.errorContainer {
    display: block;
    color: $red;
    font-family: $poppins;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: auto;
    margin-top: 20px;
}