@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.errorContainer {
    display: block;
    color: red;
    font-family: poppins;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: auto;
    margin-top: 20px;
}