@import './colors';
@import './fonts';

.footer {
    background-color: $blue;
    padding: 20px;
    color: $white;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (max-width: 620px) {
        align-items: center;
        flex-direction: column;
    }
}

.footerColumn {
    flex: 1 1 300px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;

}

.footerColumn h3 {
    font-size: 1rem;
    font-family: $karla;
    margin-bottom: 10px;
}

.footerColumn p {
    font-family: $karla;
    font-weight: 400;
    margin: 0;
}

.socialIcons a {
    display: inline-block;
    margin-right: 10px;
}

.socialIcons img {
    width: 30px;
    height: 30px;
}

.footerBottom {
    text-align: center;
    margin-top: 20px;
}

.footerBottom p {
    font-family: $karla;
}

@media (max-width: 768px) {
    .footerColumn {
        flex-basis: 50%;
    }
}

@media (max-width: 480px) {
    .footerColumn {
        flex-basis: 100%;
    }
}