@import './fonts';
@import './colors';

header {
  display: flex;
  justify-content: space-between;
  padding: 0vh 6vw;
  background: rgba($dark, 0.9);
  height: auto;
  min-height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  backdrop-filter: blur(5px);

  .burger {
    display: none;
    position: absolute;
    padding: 0vh 6vw;
    height: 10vh;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: $orange;
    cursor: pointer;
    z-index: 2;
  }

  .divbtn {
    display: flex;
    width: auto;
    justify-content: space-evenly;
    align-content: center;
  }

  .divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divLogo p {
    font-family: $karla;
    font-weight: 800;
    color: $white;
    padding: 0 5px;
  }

  @media (max-width: 750px) {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    align-items: center;

    .divbtn {
      flex-direction: column;
      position: relative;
      height: 50vh;
      width: 100vw;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      display: none;
    }

    .logoutContainer {
      top: 47vh;
      left: calc(50vw - 50px);
    }

    .divLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      padding: 0vh 6vw;
      height: 10vh;
      top: 0;
      left: 0;
    }

    .burger {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }

    .burger span {
      margin: 0;
      padding: 0;
      line-height: 5px;
      display: flex;
      justify-content: center;
    }
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
    width: 10vw;
    max-width: 50px;
    position: relative;
    min-width: 40px;
  }

  .btn1 {
    font-family: $karla;
    margin: 0 1.5vw;
    display: flex;
    letter-spacing: 0.1em;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: $white;
    font-weight: 700;
  }

  button:hover {
    text-decoration: underline;
    color: $orange;
  }
}

.topbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbtn a button {
  cursor: pointer;
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  cursor: pointer;

  img {
    border-radius: 100%;
  }
}

.logoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  width: 100px;
  border-radius: 20px;
  position: absolute;
  top: 10vh;
  right: calc(6vw - 2px);

  p {
    color: $red;
    cursor: pointer;
  }
}