@import './colors';

.topContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: transparent;
    margin-top: 50px;

    .loaderContainer {
        display: flex;
        justify-content: center;
        width: auto;

        p {
            font-size: 1.2rem;
            color: $dirtwhite;
        }

        .logo {
            display: flex;
            justify-content: flex-start;
            padding-top: 0;
            width: 5vw;
            max-width: 10vw;
            position: relative;
            width: 50px;
        }
    }
}

.midContainer {
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;

    .loaderContainer {
        display: flex;
        justify-content: center;
        width: auto;

        p {
            font-size: 1.2rem;
            color: $dirtwhite;
        }

        .logo {
            display: flex;
            justify-content: flex-start;
            padding-top: 0;
            width: 5vw;
            max-width: 10vw;
            position: relative;
            width: 50px;
        }
    }
}