@import './fonts';
@import './colors';


body {
  font-family: $karla;
  font-weight: 500;
  color: $black;
  background-color: $dark;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: $dark;
  height: auto;
  min-height: 100vh;
}

.centered {
  font-family: $karla;
  font-weight: 700;
  font-size: 2.25rem;
  max-width: 30ch;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  color: $white;
  padding: 15vh 5vw;
  padding-bottom: 0;

  @media (max-width: 420px) {
    padding-top: 10vh;
  }

  svg {
    height: 50vh;
    min-width: 250px;
  }

  p {
    font-family: $karla;
    margin: 3vh 3vw;
    font-size: 2.25rem;
  }

  img {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  span {
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: $karla;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    text-align: center;
    max-width: 55ch;
    line-height: 1.5em;
  }

  @media (max-width: 575px) {
    p {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  button {
    font-family: $karla;
    font-weight: 700;
    font-size: 1rem;
    padding: 1em;
    width: 12rem;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 25px;
    outline: none;
    border: none;
    color: $black;
    background-color: $orange;
    cursor: pointer;

    @media (max-width: 500px) {
      font-size: 0.9rem;
      width: 10rem;
    }
  }

  button:hover {
    text-decoration: underline;
    background-color: $white;
  }
}

.article1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  margin: auto;
  padding: 20vh 10vw;
  row-gap: 1vh;
  column-gap: 10vw;
  position: relative;
  min-height: 100vh;
}

.blocks {
  display: flex;
  margin: 2vh 0;
  flex-direction: column;
  align-items: center;
  line-height: 1.4em;
}

.blocks p {
  font-weight: 700;
  text-align: justify;
  font-size: 1rem;
  color: $white;
}

.blocks span {
  font-weight: 800;
  text-align: center;
  color: $orange;
}

#security {
  transform: translate(0rem, -0.75rem);
}

#blue {
  background-color: $black;
}


@media (max-width: 720px) {
  .article1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.article2 {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  padding: 20vh 10vw;
  column-gap: 5vw;
  position: relative;
  text-align: end;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 720px) {
  .article2 {
    display: flex;
    flex-direction: column;
  }
}

.article2 .block2 {
  max-width: 40ch;
  display: flex;
  flex-direction: column;
}

.article2 .block2 .img {
  margin: 1rem;
  width: 30vw;
  min-width: 15em;
}

.article2 .block2 p {
  font-weight: 700;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.4em;
  color: $white;
}

.article2 .block2 span {
  line-height: 1.2em;
  text-align: left;
  font-size: 2.25rem;
  font-weight: 800;
  color: $orange
}

.article2 .block2 a {
  color: $orange;
}

.article3 {
  display: grid;
  max-width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  grid-column-gap: 2rem;
  padding: 20vh 10vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.box {
  min-height: 50vh;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .article3 {
    display: flex;
    flex-direction: column;
  }

  .article3 .box1 {
    margin-bottom: 20px;
  }

  .article3 .box2 {
    margin-bottom: 20px;
  }

  .article3 .box1 span {
    justify-content: space-between;
    align-items: center;
  }

  .article3 .box2 span {
    justify-content: space-between;
  }

  .article3 .box3 span {
    justify-content: space-between;
  }
}

.article3 .box1 {
  font-family: $karla;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $orange;
  color: $black;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  position: relative;
  z-index: 5;
}

.article3 .box2 {
  font-family: $karla;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $orange;
  color: $black;
  grid-column: 2 / span 1;
}

.article3 .box3 {
  font-family: $karla;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $orange;
  color: $black;
  grid-column: 3 / span 1;
}

.article3 .box1 p {
  font-size: 0.9rem;
  font-weight: 600;
}

.article3 .box1 span .p1 {
  font-weight: 800;
}

.article3 .box2 p {
  font-size: 0.9rem;
  font-weight: 600;
}

.article3 .box2 span .p1 {
  font-weight: 800;
}

.article3 .box3 p {
  font-size: 0.9rem;
  font-weight: 600;
}

.article3 .box3 span .p1 {
  font-weight: 800;
}

.article3 div {
  height: auto;
  background-color: $dark;
  padding: 1rem;
  font-family: $karla;
  font-weight: 400;
  border-radius: 0.5em;
}

@media (max-width: 720px) {
  .article3 div {
    margin-bottom: 1rem;
  }
}

.article3 div p {
  font-weight: 400;
  line-height: 1.5em;
  font-size: 1rem;
  text-align: justify;
}

.article3 div span {
  text-align: start;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 30% 30%;
  grid-template-areas:
    "pic p1"
    "pic p2";
}

.article3 div span .p1 {
  font-weight: 700;
  font-size: 0.8rem;
  grid-area: p1;
}

.article3 div span .p2 {
  font-size: 0.8rem;
  text-align: start;
  grid-area: p2;
}

.article3 div span .pic {
  grid-area: pic;
}

.article3 img {
  width: 2.5rem;
  border-radius: 100%;
  margin-top: 1rem;
}