@import './fonts';
@import './colors';

.main {
    background-color: $blue;
    height: auto;
    min-height: 100vh;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    background-color: $blue;

    .scoreTitle p {
        font-family: $karla;
        font-weight: 600;
        color: $dirtwhite;
        font-size: 1.5rem;
        padding: 0;
    }
}

.scoreContainer input:nth-child(1) {
    display: inline-block;
    padding: 7px 15px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: $white;
    background: none;
    outline: none;
    cursor: pointer;
    border: 2px solid $violet;
    max-width: 100px;
    background-color: $violet;
}

.scoreContainer input:nth-child(1):hover {
    background-color: $white;
    border: 2px solid $white;
    color: $violet;
}

.chartContainer {
    margin: 3vh 3vw;
    height: 50vh;
    max-height: 350px;
    min-width: 350px;
    width: 50%;
    color: $black;
}

@media (max-width: 400px) {
    .chartContainer {
        min-width: 275px;
    }
}