@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600;700&display=swap');

.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    background-color: rgb(21, 66, 246);

    .scoreTitle p {
        font-family: 'Karla', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 1.5rem;
        padding: 0;
    }
}

.scoreContainer input:nth-child(1) {
    display: inline-block;
    padding: 7px 15px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    background: none;
    outline: none;
    cursor: pointer;
    border: 2px solid #1E2260;
    max-width: 100px;
    background-color: #1E2260;
}

.scoreContainer input:nth-child(1):hover {
    background-color: white;
    border: 2px solid white;
    color: #1E2260;
}

.chartContainer {
    margin: 3vh 3vw;
    height: 50vh;
    max-height: 350px;
    min-width: 350px;
    width: 50%;
    color: black;
}

@media (max-width: 400px) {
    .chartContainer {
        min-width: 275px;
    }
}