@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.container {

    display: flex;
    justify-content: center;
    align-items: center;

    .searchContainer {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 0;
        width: 100%;
        max-width: 800px;
        min-width: 200px;
        font-family: poppins;

        .searchQuery {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 1vw;

            input {
                font-weight: 600;
                color: #1E2260;
            }

            input:nth-child(1) {
                width: auto;
                padding: 7px 15px;
                outline: none;
                border: 1px solid #cccccc;
                border-radius: 30px;
                margin: 0 1vw;
            }

            input:nth-child(2) {
                display: inline-block;
                padding: 7px 15px;
                font-size: 0.9rem;
                letter-spacing: 1px;
                text-decoration: none;
                border-radius: 30px;
                color: #ffffff;
                background: none;
                outline: none;
                cursor: pointer;
                border: 2px solid #1E2260;
                max-width: 100px;
                background-color: #1E2260;
            }

            input:nth-child(2):hover {
                background-color: white;
                border: 2px solid white;
                color: #1E2260;
            }

            @media (max-width: 400px) {
                input:nth-child(2) {
                    width: 75px;
                    font-size: 0.7rem;
                }
            }
        }
    }


}