@import './fonts';
@import './colors';

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .skipperContainer {
        display: flex;
        justify-content: center;
        margin: 5vh 0vw;
        width: 100%;
        max-width: 500px;
        min-width: 300px;
        color: $white;
        font-weight: 600;
        font-family: $karla;

        div:nth-child(2) {
            width: 100px;
            text-align: center;
            margin: 0 2vw;
        }

        div:nth-child(1) {
            text-align: center;
            cursor: pointer;
        }

        div:nth-child(1):hover {
            color: $orange;
        }

        div:nth-child(3) {
            text-align: center;
            cursor: pointer;
        }

        div:nth-child(3):hover {
            color: $orange;
        }
    }
}