@import './colors';

.cap {
  .inside {
    width: 10px;
    height: 10px;
    background-color: $orange;
    display: inline-block;
    margin: 1px;
    border-radius: 50%;

    &:nth-child(1) {
      animation: bounce 1s infinite;
    }

    &:nth-child(2) {
      animation: bounce 1s infinite 0.2s;
    }

    &:nth-child(3) {
      animation: bounce 1s infinite 0.4s;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0px);
  }
}